### Docker
APP_VERSION=
#### GlobalStorage ####
MAIN__GLOBAL_STORAGE=Firebase
#MAIN__GLOBAL_STORAGE=MongoDB
#MAIN__GLOBAL_STORAGE=PostgreSQL
#### Redis ####
REDIS__HOST=redis
REDIS__PORT=6379
REDIS__USERNAME=your_username
REDIS__PASSWORD=YoUr_PasSw0rD
REDIS__DB=0
# Redis Key Builder
KEY_BUILDER__PREFIX=nexus-shell
#### Telegram ####
TELEGRAM__TOKEN=
TELEGRAM__ADMIN_ID=
#### Cryptography ####
CRYPTOGRAPHY__SECRET_KEY=
#### Docker ####
# Postgres
POSTGRES_SERVER=postgres
POSTGRES_PORT=5432
POSTGRES_USER=your_username
POSTGRES_PASSWORD=YoUr_PasSw0rD
POSTGRES_DB=nexus-shell_db
# PgAdmin
PGADMIN_DEFAULT_EMAIL=user@domain.com
PGADMIN_DEFAULT_PASSWORD=YoUr_PasSw0rD
# Mongo
#MONGO_INITDB_ROOT_URI="mongodb+srv://your_username:YoUr_PasSw0rD@your_cluster.your_server/?appName=your_app_name"
MONGO_INITDB_ROOT_SERVER=mongo
MONGO_INITDB_ROOT_PORT=27017
MONGO_INITDB_ROOT_USERNAME=your_username
MONGO_INITDB_ROOT_PASSWORD=YoUr_PasSw0rD
# Mongo Express
ME_CONFIG_MONGODB_ADMINUSERNAME=${MONGO_INITDB_ROOT_USERNAME}
ME_CONFIG_MONGODB_ADMINPASSWORD=${MONGO_INITDB_ROOT_PASSWORD}
ME_CONFIG_BASICAUTH_USERNAME=your_username
ME_CONFIG_BASICAUTH_PASSWORD=YoUr_PasSw0rD
