#### GlobalStorage ####
MAIN__GLOBAL_STORAGE=Firebase
#MAIN__GLOBAL_STORAGE=PostgreSQL
#### Redis ####
REDIS__HOST=
REDIS__PORT=
REDIS__USERNAME=
REDIS__PASSWORD=
REDIS__DB=
# Redis Key Builder
KEY_BUILDER__PREFIX=
#### Telegram ####
TELEGRAM__TOKEN=
TELEGRAM__ADMIN_ID=
#### Cryptography ####
CRYPTOGRAPHY__SECRET_KEY=
#### Docker ####
# Postgres
POSTGRES_SERVER=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
# PgAdmin
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=