#### GlobalStorage ####
MAIN__GLOBAL_STORAGE=Firebase
#MAIN__GLOBAL_STORAGE=MongoDB
#MAIN__GLOBAL_STORAGE=PostgreSQL
#### Redis ####
REDIS__HOST=
REDIS__PORT=
REDIS__USERNAME=
REDIS__PASSWORD=
REDIS__DB=
# Redis Key Builder
KEY_BUILDER__PREFIX=
#### Telegram ####
TELEGRAM__TOKEN=
TELEGRAM__ADMIN_ID=
#### Cryptography ####
CRYPTOGRAPHY__SECRET_KEY=
#### Docker ####
# Postgres
POSTGRES_SERVER=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
# PgAdmin
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=
# Mongo
#MONGO_INITDB_ROOT_URI="mongodb+srv://your_username:your_password@your_cluster.your_server/?appName=your_app_name"
MONGO_INITDB_ROOT_SERVER=
MONGO_INITDB_ROOT_PORT=
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=
# Mongo Express
ME_CONFIG_MONGODB_ADMINUSERNAME=${MONGO_INITDB_ROOT_USERNAME}
ME_CONFIG_MONGODB_ADMINPASSWORD=${MONGO_INITDB_ROOT_PASSWORD}
ME_CONFIG_BASICAUTH_USERNAME=
ME_CONFIG_BASICAUTH_PASSWORD=